<!DOCTYPE html>
<html>

<head>
    <title>AI Interview Simulator</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">Virtual Interview Simulator</div>
        <div class="nav-links">
            <a href="/" class="btn-outline">Home</a>
        </div>
    </nav>

    <!-- HERO PART-->
    <section class="hero">
        <div class="hero-content">
            <h1>Interview History</h1>
            <p>View your past interviews to see your progression!</p>
        </div>
    </section>

    <!-- FEATURES -->
     <section class="history">
        <div class="history-grid">
            <h2>DATE</h2>
            <div class="history-card">
                <h3>Interview with COMPANY for POSITION</h3>
                <p>analysis...</p>
            </div>
            <div class="history-card">
                <h3>Interview with COMPANY for POSITION</h3>
                <p>analysis...</p>
            </div>

            <h2>DATE</h2>
            <div class="history-card">
                <h3>Interview with COMPANY for POSITION</h3>
                <p>analysis...</p>
            </div>
            <div class="history-card">
                <h3>Interview with COMPANY for POSITION</h3>
                <p>analysis...</p>
            </div>
        </div>
    </section>
</body>

</html>